.art_form {
  z-index: 2;
  /*need to figure out absolute POSITIONING here*/ }
  .art_form label {
    font-size: 15px; }
  .art_form .file_button {
    background: transparent url(/camera.jpg) left top no-repeat;
    background-size: 12%; }
    .art_form .file_button input {
      opacity: 0; }
  .art_form input {
    border-radius: 4px;
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 12px; }

.art_window {
  padding: 10px;
  font-size: 1.2em;
  overflow-wrap: break-word; }
  .art_window .art_image {
    height: 300px;
    width: 400px;
    overflow: hidden; }
    .art_window .art_image img {
      height: auto;
      width: 400px;
      box-shadow: inset 0 0 10px #000000; }

.container {
  text-align: center;
  width: 100%;
  position: relative; }

.map_container {
  height: 100%; }

.modal {
  display: block;
  bottom: unset;
  z-index: 1;
  position: absolute;
  margin-top: 10%;
  max-width: 20%;
  height: auto;
  font: bold 1.3em "Lucida Console"; }
  .modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  .modal .modal_container {
    background-color: #f8f8f8;
    padding: 20px;
    border: 0.5px solid #888; }
  .modal #modal_button {
    overflow: auto;
    width: 100%;
    display: block;
    height: 50px;
    text-align: center;
    background: #e85113;
    color: #f8f8f8;
    border-radius: 5px; }

.navbar {
  font-family: "Lucida Console";
  color: #19a0d8;
  font-size: 35px;
  display: inline-block; }
  .navbar .navbar_text {
    float: none;
    display: inline-block; }
  .navbar .glyphicon {
    display: inline-block;
    color: #e85113;
    font-size: 20px; }
