
.art_form {
	z-index: 2;
	/*need to figure out absolute POSITIONING here*/
	label {
		font-size:15px;
	}
	.file_button {
		background: transparent url(../public/camera.jpg) left top no-repeat;
		input {
			opacity: 0;
		}
	}
	input {
		border-radius: 4px;
		width: 100%;
		padding: 8px 15px;
		margin-bottom: 12px;
	}
}
