.navbar {
	font-family: "Lucida Console";
	color : #19a0d8;
	font-size : 35px;
	display: inline-block;
	.navbar_text {
		float: none;
		display: inline-block;
	}
}

.container {
	text-align: center;
	width: 100% !important;
}

.map_container {
	height: 100%;
}

.glyphicon {
	display: inline-block;
	color: #e85113;
	font-size:20px;
}

label {
	font-size:15px;
}

input {
	border-radius:4px;
	width: 100%;
	padding: 8px 15px;
	margin-bottom:12px !important;
    box-sizing: border-box;
}

#infowindow {
	display: block;
	float: left;
}

#description {
	margin-top: 8px;
}